<link href="~/Css/ProjectCss.css" rel="stylesheet" />
<div>
    
    <h1 style="text-align:center">
        No Results
    </h1>
    <div style="text-align:center">
        @Html.ActionLink("Continue Shopping","Index","Home")
    </div>
</div>
