
@{
    ViewBag.Title = "Error";
}
<link href="~/Css/ProjectCss.css" rel="stylesheet" />
<br />
<div class="col-sm-offset-1 col-sm-10 MyBackground">

    <h1 class="text-danger">Error.</h1>
    <h1 class="text-danger">Email Id or UserName Already Taken.</h1>
</div>