@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/ProjectCss.css" rel="stylesheet" />
<br />
<br />
<div class="col-sm-offset-1 col-sm-10 MyBackground">
    <h2>Email Account Verification Is commplete Please Login</h2>
    
</div>
