@model E_Commerce_Web_Application.Models.ViewModels

@{
    ViewBag.Title = "Error";
}
<link href="~/Css/ProjectCss.css" rel="stylesheet" />
<br />
<div class="col-sm-offset-1 col-sm-10 MyBackground">
   
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">@Model.UserName User Not Register. </h2>
</div>
