@model E_Commerce_Web_Application.Models.ViewUserInfoModel
<br class="col-sm-12" />
<img  src="~/Image/profile-pic-male_2fd3e8.svg" /><h5>Hello! @Model.FirstName @Model.LastName</h5>
<br class="col-sm-12" />