@model E_Commerce_Web_Application.Models.ViewUserInfoModel
@{
    if (Model.Type == "Edit")
    {
        <div>
            <h1>
                Gender <input type="submit" class="btn btn-default" value="Cancel" name="SaveAndChange" />
                <input type="submit" class="btn btn-default" value="Save" name="SaveAndChange" />
            </h1>
        </div>


          <h5>
                Male
                @Html.RadioButtonFor(m => m.Gender, "M")
                Female
                @Html.RadioButtonFor(m => m.Gender, "F")
            </h5>
    }
    else if (Model.Type == "Cancel")
    {
        <h1>Gender 
            <input type="submit" class="btn btn-default" value="Edit" name="SaveAndChange" />
        </h1>

    <h5>
        Male
        @Html.RadioButtonFor(m => m.Gender, "M", new { disabled = "disabled" })
        Female
        @Html.RadioButtonFor(m => m.Gender, "F", new { disabled = "disabled" })
    </h5>
    }
    else if (Model.Type == "Save")
    {
        <h1>Gender 
            <input type="submit" class="btn btn-default" value="Edit" name="SaveAndChange" />
        </h1>
        if (Model.Gender == "M")
        {
            <h5>
                Male
                <input id="Male" type="radio" value="M" disabled name="SaveAndCancel" checked />
                Female
                <input id="Female" type="radio" value="F" disabled name="SaveAndCancel" />
            </h5>
        }
        if (Model.Gender == "F")
        {
            <h5>
                Male
                <input id="Male" type="radio" value="M" disabled name="SaveAndCancel" />
                Female
                <input id="Female" type="radio" value="F" disabled name="SaveAndCancel" checked />
            </h5>
        }
    }
}