
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/ProjectCss.css" rel="stylesheet" />
<br />
<br />
<div class="col-sm-offset-1 col-sm-10 MyBackground">
    <h2>Please Check Your Email Account and Verify Account</h2>
    <br />
</div>
